<a href="https://colab.research.google.com/github/hrushikute/DataAnalytics/blob/master/nltk_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exploring the NLP space.

In [4]:
import nltk
nltk.download

In [7]:
nltk.download('stopwords')
from nltk.corpus import stopwords
stopwords.words('english')[0:30]

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself']

In [15]:
import pandas as pd

headers = ['label', 'message']
data =pd.read_csv('SMSSpamCollection.csv', sep='|', names=headers)
data.head()
data2 =pd.read_csv('SMSSpamCollection', sep='\t', names=headers , header=None)
data2.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [17]:
data2.describe()

       label                 message
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

## Explore the data set

## Find the number of rows and columns of data set

In [21]:
num_of_rows = len(data2)
num_of_rows

5572

In [23]:
num_of_cols = len(data2.columns)
num_of_cols

2

In [24]:
print(f'There are {num_of_rows} of rows and {num_of_cols} of columns in data')

There are 5572 of rows and 2 of columns in data

## Find the number of ham and spam of total rows

In [28]:
num_of_spam = (data2['label'] == 'spam').sum()
num_of_spam

747

In [29]:
num_of_ham = (data2['label'] == 'ham').sum()
num_of_ham

4825

In [31]:
print(f'There are in all {num_of_spam} spam and {num_of_ham} ham out of {num_of_rows}')

There are in all 747 spam and 4825 ham out of 5572