<a href="https://colab.research.google.com/github/hrushikute/DataAnalytics/blob/master/nltk_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exploring the NLP space.

In [51]:
import nltk
nltk.download

In [52]:
nltk.download('stopwords')
from nltk.corpus import stopwords
stopwords.words('english')[0:30]

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself']

In [53]:
import pandas as pd

headers = ['label', 'message']
data =pd.read_csv('SMSSpamCollection.csv', sep='|', names=headers)
data.head()
data2 =pd.read_csv('SMSSpamCollection', sep='\t', names=headers , header=None)
data2.head()

  label                                                                                              message
0   ham  Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there g...
1   ham                                                                        Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...
3   ham                                                    U dun say so early hor... U c already then say...
4   ham                                        Nah I don't think he goes to usf, he lives around here though

In [54]:
data2.describe()

       label                 message
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

## Explore the data set

## Find the number of rows and columns of data set

In [55]:
num_of_rows = len(data2)
num_of_rows

5572

In [56]:
num_of_cols = len(data2.columns)
num_of_cols

2

In [57]:
print(f'There are {num_of_rows} of rows and {num_of_cols} of columns in data')

There are 5572 of rows and 2 of columns in data

## Find the number of ham and spam of total rows

In [58]:
num_of_spam = (data2['label'] == 'spam').sum()
num_of_spam

747

In [59]:
num_of_ham = (data2['label'] == 'ham').sum()
num_of_ham

4825

In [60]:
print(f'There are in all {num_of_spam} spam and {num_of_ham} ham out of {num_of_rows}')

There are in all 747 spam and 4825 ham out of 5572

## NLP : Basics To clean the text

1. Remove Punctuation
2. Tokenization
3. Removing Stopwords
4. Lematization/Stemming

In [61]:
## Remove punction

import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [62]:
def remove_punctuation(data):
  # Used list comprehension
  text_noPunct = [char for char in data if char not in string.punctuation]
  return text_noPunct

In [63]:
data2['clean_message'] = data2['message'].apply(lambda x: remove_punctuation(x))
data2.head()

  label  ...                                                                                        clean_message
0   ham  ...  [G, o,  , u, n, t, i, l,  , j, u, r, o, n, g,  , p, o, i, n, t,  , c, r, a, z, y,  , A, v, a, i,...
1   ham  ...                                [O, k,  , l, a, r,  , J, o, k, i, n, g,  , w, i, f,  , u,  , o, n, i]
2  spam  ...  [F, r, e, e,  , e, n, t, r, y,  , i, n,  , 2,  , a,  , w, k, l, y,  , c, o, m, p,  , t, o,  , w,...
3   ham  ...  [U,  , d, u, n,  , s, a, y,  , s, o,  , e, a, r, l, y,  , h, o, r,  , U,  , c,  , a, l, r, e, a,...
4   ham  ...  [N, a, h,  , I,  , d, o, n, t,  , t, h, i, n, k,  , h, e,  , g, o, e, s,  , t, o,  , u, s, f,  ,...

[5 rows x 3 columns]

In [64]:
# Here the clean message have each character as list however we want sentences
# Hence we need to add join by modifying the remove_punctuation function

def remove_punctuation(data):
  # Used list comprehension
  text_noPunct = "".join([char for char in data if char not in string.punctuation])
  return text_noPunct

data2['clean_message_after'] = data2['message'].apply(lambda x: remove_punctuation(x))
data2.head()

  label  ...                                                                                  clean_message_after
0   ham  ...  Go until jurong point crazy Available only in bugis n great world la e buffet Cine there got amo...
1   ham  ...                                                                              Ok lar Joking wif u oni
2  spam  ...  Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005 Text FA to 87121 to receive e...
3   ham  ...                                                          U dun say so early hor U c already then say
4   ham  ...                                          Nah I dont think he goes to usf he lives around here though

[5 rows x 4 columns]

In [65]:
## Tokenize the text
import re

def tokenize_text(data):
  tokens =re.split('\W+',data)
  return tokens

data2['message_tokens'] = data2['clean_message_after'].apply(lambda x: tokenize_text(x.lower()))
data2.head()

  label  ...                                                                                       message_tokens
0   ham  ...  [go, until, jurong, point, crazy, available, only, in, bugis, n, great, world, la, e, buffet, ci...
1   ham  ...                                                                       [ok, lar, joking, wif, u, oni]
2  spam  ...  [free, entry, in, 2, a, wkly, comp, to, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, to...
3   ham  ...                                              [u, dun, say, so, early, hor, u, c, already, then, say]
4   ham  ...                            [nah, i, dont, think, he, goes, to, usf, he, lives, around, here, though]

[5 rows x 5 columns]

In [66]:
## Remove stopwords
import nltk

stop_words = nltk.corpus.stopwords.words('english')

In [67]:
def remove_stopwords(data):
  clean_data = [word for word in data if word not in stop_words]
  return clean_data
data2['message_after_stop'] = data2['message_tokens'].apply(lambda x: remove_stopwords(x))
data2.head()

  label  ...                                                                                   message_after_stop
0   ham  ...  [go, jurong, point, crazy, available, bugis, n, great, world, la, e, buffet, cine, got, amore, wat]
1   ham  ...                                                                       [ok, lar, joking, wif, u, oni]
2  spam  ...  [free, entry, 2, wkly, comp, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, 87121, receiv...
3   ham  ...                                                        [u, dun, say, early, hor, u, c, already, say]
4   ham  ...                                                 [nah, dont, think, goes, usf, lives, around, though]

[5 rows x 6 columns]

## Suplemental Data Cleaning : Using stemming

Test out porter stemer

In [75]:
import nltk
import re
import pandas as pd
nltk.download('wordnet')

pd.set_option('display.max_colwidth',100)
ps = nltk.PorterStemmer()
stop_words = nltk.corpus.stopwords.words('english')

data3=pd.read_csv('SMSSpamCollection', sep='\t', names=headers , header=None)
data3.head()

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

  label                                                                                              message
0   ham  Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there g...
1   ham                                                                        Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...
3   ham                                                    U dun say so early hor... U c already then say...
4   ham                                        Nah I don't think he goes to usf, he lives around here though

In [76]:
def Pre_process_data(text_data):
  text_noPunct = "".join([char for char in text_data if char not in string.punctuation])
  tokenize_text = re.split('\W+',text_noPunct)
  no_stop_text = [word for word in tokenize_text if word not in stop_words]
  
  return no_stop_text

In [77]:
data3['pre_procs_data'] = data3['message'].apply(lambda x : Pre_process_data(x.lower()))
data3.head()

  label  ...                                                                                       pre_procs_data
0   ham  ...  [go, jurong, point, crazy, available, bugis, n, great, world, la, e, buffet, cine, got, amore, wat]
1   ham  ...                                                                       [ok, lar, joking, wif, u, oni]
2  spam  ...  [free, entry, 2, wkly, comp, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, 87121, receiv...
3   ham  ...                                                        [u, dun, say, early, hor, u, c, already, say]
4   ham  ...                                                 [nah, dont, think, goes, usf, lives, around, though]

[5 rows x 3 columns]

In [78]:
def stemming_data(text_data):
  stem_text = [ps.stem(word) for word in text_data]
  return stem_text

data3['stem_text'] = data3['pre_procs_data'].apply(lambda x : stemming_data(x))
data3.head()

  label  ...                                                                                            stem_text
0   ham  ...        [go, jurong, point, crazi, avail, bugi, n, great, world, la, e, buffet, cine, got, amor, wat]
1   ham  ...                                                                         [ok, lar, joke, wif, u, oni]
2  spam  ...  [free, entri, 2, wkli, comp, win, fa, cup, final, tkt, 21st, may, 2005, text, fa, 87121, receiv,...
3   ham  ...                                                        [u, dun, say, earli, hor, u, c, alreadi, say]
4   ham  ...                                                   [nah, dont, think, goe, usf, live, around, though]

[5 rows x 4 columns]

## Apply preprocesig using lemmatizer : Using WordnetLemmatizer

In [79]:
wn = nltk.WordNetLemmatizer()

def lemmatize_data(text_data):
  lemma_text = [wn.lemmatize(word) for word in text_data]
  return lemma_text

data3['lemmatize_text'] = data3['pre_procs_data'].apply(lambda x : lemmatize_data(x))
data3.head()

  label  ...                                                                                       lemmatize_text
0   ham  ...  [go, jurong, point, crazy, available, bugis, n, great, world, la, e, buffet, cine, got, amore, wat]
1   ham  ...                                                                       [ok, lar, joking, wif, u, oni]
2  spam  ...  [free, entry, 2, wkly, comp, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, 87121, receiv...
3   ham  ...                                                        [u, dun, say, early, hor, u, c, already, say]
4   ham  ...                                                    [nah, dont, think, go, usf, life, around, though]

[5 rows x 5 columns]